* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9em;
}

.header_wrap {
    max-width: 100%;
    height: 75px;
    background: #000;
    color: #fff;
}

.navbar {
    max-width: 1300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    cursor: pointer;
}
.menu_bar{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.primary-nav ul {
    display: flex;
    gap: 50px;
}
ul li{
    list-style: none;

}
li a{
    font-family:'poppins',sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.logo_icon{
    width: 35px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    font-weight: 600;
    border-radius: 30px;
    padding: 0 30px;
    height: 45px;
    cursor: pointer;
}
.wrapper {
    max-width: 100%;
    height: 100vh;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
}


.hero_content {
    margin-top: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8rem;
}

.h-title {
    text-transform: uppercase;
    font-size: 155px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.2rem;
    columns: #fff;
}
.upper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;

}

.sub-h-txt{
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #929292;
}

.below {
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.about_tag {
    width: 350px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
}

.year_tag {
    margin-right: 12rem;
    font-weight: 700;
    font-size: 50px;
    color: #929292;
}

.scroll {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 1.5rem;
}
.section_works {
    max-width: 1300px;
    width: 100%;
    height: auto; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10em;
    flex-wrap: wrap; 
    padding: 20px;
}

.selected_work {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.work_select {
    font-family: 'Inter Tight', sans-serif;
    height: 80px;
    font-size: 50px; 
    font-weight: 700;
    color: #000;
}

.wrap_work_ui {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.seg_ui {
    width: 100%; /* Make the width responsive */
    height: 542px;
    background: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 108%; /* Use cover to ensure the image covers the element */
    display: flex;
    align-items: flex-end;
    transition: background-size 300ms;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.seg_ui:hover {
    background-size: 110%;
    cursor: pointer;
}

.details_ui {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.75em; 
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.seg_1 {
    background-image: url(../images/bbrand_photography-15052024-0005.jpeg);
}

.seg_2 {
    background-image: url(../images/bbrand_photography-15052024-0003.jpeg);
}

.seg_3 {
    background-image: url(../images/bbrand_photography-15052024-0011.jpeg);
}
.all-work{
    width: 150px; 
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    font-weight: 500;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}

.about_section{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.about_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px !important;
}
.upper_about{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    color: #000;
}
.about_p{
    font-family: 'Inter Tight', sans-serif;
    height: 80px;
    font-size: 50px; 
    font-weight: 700;
    color: #000;
}

.lower_about{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.work_2ger{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.lets_work{
    width: 100%;
    margin: 50px;
 
}
.lets_work p{
    font-family: 'Inter Tight'; 
    font-size: 75px;
    font-weight: 400;
    color: #fff;
}
.img_about {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    height: 100%;
    padding-bottom: 40.91%;
    background-image: url(../images/bbrand_photography-15052024-0004.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    image-rendering: auto;
}
.img_about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none; 
    border-radius: 4px;
}
.work_tag{
    margin: 50px;
    font-family: 'poppins', san-serif;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    max-width: 290px;
    height: 45px;
    border-radius: 8px;
    background: #000;
    text-transform: uppercase;

}
.indicator-1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #d64770;
    border-radius: 100%;
}
.lower_archieve{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Make grid items responsive */
}
.arch{
    width: 290px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
}
.arch span{
    font-family: 'Inter Tight'; 
    font-size: 50px;
    font-weight: 600;
}
.arch p{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.album_section{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.upper_album_section{
    width: 1300px;
    margin: auto auto;;
    display: flex;
    gap: 15px;
    flex-direction: column;
    color: #000;
}

.p-portfolio{
    font-family: 'Inter Tight', sans-serif;
    height: 80px;
    font-size: 55px; 
    font-weight: 700;
    color: #000;

}
.container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}
.package_section{
    background: #000;
    width: 100%;
    height: 720px;
    margin: 0 auto;
    padding: 20px;


}
.lower-row{
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
}
.pack{
    width: 100%;
    height: 550px;
    background: #1c1e21;
}

.footer_wrap{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}
.wrapp_section_f{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.upper_f_row h1{
    font-size: 50px;
    font-weight: 400;
}
.mail-p{
    font-size: 45px;
    font-weight: 400;
    color: #979797;
    text-decoration: none;
}


.lower_f_row {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Optional: Ensures the row doesn’t exceed a certain width */
    padding: 20px; /* Optional: Adds padding inside the container */
}

.col {
    width: 300px;
    height: 120px;
}

.col ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.col ul a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none; /* Optional: Removes underline from links */
    color: inherit; /* Optional: Inherits color from parent */
}

.cpryt{
    font-size: 14px;
    font-weight: 500;
    color: #929292;
}


.indicator {
    background: #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0%, 100% {
        background-color: #fff;
    }
    50% {
        background-color: #000;
    }
}
.packgs{ 
    font-family: 'Inter Tight', sans-serif;
    height: 80px;
    font-size: 50px; 
    font-weight: 600;
    color: #fff;
}
.work-wrapper{
    max-width: 1300px;
    margin: 0 auto a;
    width: 100%;
    height: 100vh;
    background: #fff;
}
.upper_work_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.select-wrk{
    display: inline;
    font-size: 200px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Inter Tight', sans-serif;
    height: 190px;
    font-weight: 700;
  
}























/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .work_select {
        font-size: 2.5em;
    }
    .details_ui {
        font-size: 1.5em;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .work_select {
        font-size: 2em;
    }
    .details_ui {
        font-size: 1.25em;
        margin-left: 5px;
    }
    .section_works {
        gap: 1em; /* Reduce gap for small screens */
    }
}
